<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis autem eaque quae fugiat amet aperiam possimus, vitae provident mollitia deserunt voluptates? Inventore sequi iure sint perspiciatis deserunt quo repudiandae!</p>
    </div>
</section>